.events {
  &__container {
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    padding: 0px 48px;
    margin-top: 2.8rem;
  }

  &__loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}